---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import WhatIDo from '../components/WhatIDo.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Book from '../components/Book.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
    <WhatIDo />
    <About />
    <Experience />
    <Book />
  </main>
  <Footer />
</Base>
